body {
  font-size: 20px;
}

.list {
  list-style: none;
}

.list__item {
  padding: 12px 15px;
  font-size: 25px;
  transition: 0.4s;
}

.list__item:hover {
  color: red;
}

.parent {
  font-size: 30px;
  margin: 10px ;
  padding: 20px;
}

.parent-1 {
  color: rgb(0, 0, 0);
}

.parent-1-child {
  font-size: 25px;
  padding: 8px 8px;
  color: red;
}

.parent-2 {
  color: orange;
}

.parent-2-child {
  font-size: 25px;
  padding: 8px 8px;
  border: 3px dashed orange;
  color: #b4005a;
  width: fit-content;
  max-width: 400px
}


.parent-3 {
  color: green;
}

.parent-3-child {
  font-size: 25px;
  padding: 8px 8px;
}

.parent-2 ~ .parent-3 {
  color: green;
}

.parent-3 .parent-2-child {
  border: none;
  color: purple;
}



.langs a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.langs a::before {
  content: "🌐 ";
}

.langs a:hover {
  color: #007bff;
}

.langs::after {
  content: "";
  display: block;
  height: 200px;
  background: #1596d1 url("https://ssau.ru/i/logo/logo-white-ru.svg") center/contain no-repeat;
  margin-top: 30px;
}